/* Created by: RahulS416
* Created on: Sep 2023
* This CSS file defines the style for index2.html ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: red;
}

h1 {
  background-color: rgb(14 123 71);
  color: hsl(342deg 67% 57%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #00ffae;
}

ul {
  color: azure;
}

ul li::before {
  content: "✅";
}

table {
  border: solid thin;
}

th {
  height: 2rem;
  background: rgb(25 0 255);
  border: 1px solid white;
  text-align: left;
}

td {
  height: 2rem;
  background: lightcoral;
  border: 1px solid black;
  text-align: center;
}
